{% extends "account/base.html" %}
{% from "_macros/button.html" import button %}
{% from "_macros/field.html" import bound %}
{% from "_macros/notice.html" import notices %}

{% block title %}Profile | CivicForest Clothing{% endblock %}

{% block account_content %}
  <h1>Profile</h1>
  {{ notices(request) }}
  <form class="auth-form" method="post">
    {{ csrf_input }}
    {%- for field in form %}{{ bound(field) }}{% endfor %}
    {{ button("Save profile", type="submit") }}
  </form>
{% endblock %}
